.container {
    width: 1400px;
    height: 720px;
    border: 1px solid black;
}

.container svg {
    border: 1px solid grey;
}
path {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}
#line-chart {
    float: left;
}
#bar-chart {
    float: left;
}
.rect {
    color: red;
}

.grid {
    stroke: lightgrey;
}
