body {
    margin-left: 22%;
    font-family: "Hiragino Sans GB", Arial, sans-serif;
    margin-right: 20%;
}

h1 {
    margin-left: 22%;
}

div {
    padding-top: 20px;
    font-family: inherit;
    font-size: 24px;
}

input {
    font-family: inherit;
    font-size: 19px;
    border: groove;
}

button {
    background-color: lightsteelblue;
    border-radius: 5px;
    border-color: lightblue;
    font-family: inherit;
    font-size: 19px;
    margin-top: 10px;
}
