.slope {
    stroke-width: 2px;
    stroke: grey;
}

circle {
    stroke: red;
    stroke-width: 2px;
    fill: none;
}

.square {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}

.triangle {
    stroke: green;
    stroke-width: 2px;
    fill: none;
}