path {
    stroke-width: 2px;
    fill: none;
}

.line-path {
    stroke: steelblue;
}

#line-chart {
    float: left;
}

.grid {
    stroke: lightgrey;
}

circle{
    fill: white;
    stroke: steelblue;
}