path {
    stroke-width: 2px;
    fill: none;
}

circle {
    fill: white;
    stroke: steelblue;
}

.area-sine-path {
    fill: steelblue;
    fill-opacity: 0.2;
}

.line-sine-path {
    stroke: steelblue;
}
